.App{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}

h2{
    padding: 8px;
}

input{
    padding: 8px;
    width: 100%;
}
img{
    padding: 8px;
}